.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 25%;
}
main {
  text-align: center;
  max-width: 300px;
}
input {
  min-width: 290px;
  /* border-color: gray; */
  border: 1px solid #918e8e;
  border-radius: 3px;
}
.suggestion {
   cursor: pointer;
   border-right: 1px solid black;
   border-left: 1px solid black;
   border-bottom: 1px solid black;
}
.suggestion:hover {
  background-color: grey;
}
