.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}
.form-container {
  width: 90%;
  background-color: #005c95;
  border-radius: 10px;
  text-align: center;
  min-width: 80vw;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}
h1 {
  color: white;
}
input {
  width: 80%;
  height: 30px;
  max-height: 30px;
  border: 1px solid #918e8e;
  border-radius: 3px;
  margin-top: 15px;
}
ul {
  padding: 0;
  width: 81%;
  margin: auto;
}
.suggestion {
  cursor: pointer;
  min-width: 24.7vw;
  margin-top: -2px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
}
.suggestion:hover {
  background-color: grey;
}
button {
  padding: 10px 60px 10px 60px;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: #ff8e00;
  color: white;
  border: 1px solid #ff8e00;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}
.loader {
  border: 16px solid black;
  border-top-color: #fff;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
@media (min-width: 767px) {
  .form-container {
    min-width: 30vw;
  }
  ul {
    padding: 0;
    width: 81%;
    margin: auto;
  }
  .suggestion {
    min-width: 17.3vw;
  }
}
